# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/

# Virtualenv
venv/

# Alembic
alembic/versions/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# SQLite DB
*.db
